@page "~/Profile/{id}"
@model ProfileModel
@{
    Layout = "_InputViewLayout";
}
<h3 class="mb-2 pb-2 pb-md-0 mb-md-3 px-md-2">Twój profil</h3>
<table class="table">
    <tr>
        <td>Nazwa profilu</td>
        <td>@Model.User.UserName</td>
    </tr>
    <tr>
        <td>Imię</td>
        <td>@Model.User.FirstName</td>
    </tr>
    <tr>
        <td>Nazwisko</td>
        <td>@Model.User.LastName</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>@Model.User.Email</td>
    </tr>
    <tr>
        <td>Rola</td>
        <td>@Model.User.Role</td>
    </tr>
</table>
<a class="btn btn-primary" asp-page="/ProfileFunctions/Logout">Wyloguj</a>


