@page "{id}"
@model KsiegarniaProject.Pages.ProfileModel
@{
}

<h4>@Model.User.Id</h4><br />
<h4>@Model.User.UserName</h4><br />
<h4>@Model.User.FirstName</h4><br />
<h4>@Model.User.LastName</h4><br />
<h4>@Model.User.Email</h4><br />
<h4>@Model.User.Role</h4><br />
<a class="btn btn-primary" asp-page="/Logout">Wyloguj</a>